<% provide(:title, @user.name) %>
<div class="row">
<aside class="span4">
  <section>


      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <%= @user.email %><br>
        <%= @user.text %>



      </section>
  <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :post_user_id %><br>
    <%= f.number_field :post_user_id %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
</div>
  <% end %>


</aside>




  <% @posts.each do |post| %>



        <li>

          <%= link_to User.find(post.post_user_id).name, :controller => 'users', :action => 'show', :id => post.post_user_id %>

        <span class="content"><%= post.content %></span>
        </li>

  <% end %>


  </div>


